@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

.gradient {
  background: linear-gradient(to bottom right, #ffdbd0, #ffffff, #fef5dc);
}

.background-layer {
  background-image: url(./../public/layer.png);
}
.scaleOut {
  transition: transform 0.5s;
  transition-duration: 500;
  cursor: pointer;
}

.scaleOut:hover {
  transform: scale(1.25);
}
.background-deals {
  background-image: url(./../public/dealsBG.png);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
